{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="content">
            <div class="title-header">
                <h1>{{ book.bookName }}</h1>
                <h3>{{ book.author }}</h3>
            </div>
            <img src="/public/userdata/covers/{{ book.coverPath }}" alt="" class="title-cover">
            {% if app.user and app.user.id == book.user.id %}
                <div>
                    <button class="btn btn-primary btn-sm" id="deleteButton">Edit</button>
                    <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
            {% endif %}
            <p>{{ book.description }}</p>
            <button class="btn btn-primary btn-lg" type="button" id="downloadButton">Download file</button>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Confirm deleting item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#downloadButton').click(function () {
            window.location.href='{{ path('download_book', {'id': book.id}) }}'
        });
        $('#deleteButton').click(function () {
            window.location.href='{{ path('download_book', {'id': book.id}) }}'
        })
    </script>
{% endblock %}